html{color:#000;background:#FFF;font-family:'Microsoft YaHei',sans-serif,Arial;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:'Microsoft YaHei',sans-serif,Arial;color: #000}
body {font-size: 12px;}
table{border-collapse:collapse;border-spacing:0;}
img{display: block; border:0;box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, 0.3);}
a{text-decoration:none; color:#333; outline:none;}
var,em,strong{font-style:normal;}
em,strong,th,var,i{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal; color: #000}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix {*zoom:1;}
.clearfix:after{content:'\200B';clear:both;display:block;height:0px;}